table {
  width: 100%;
}

svg polyline {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

svg line {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

svg circle {
  fill: black;
}

svg rect {
  stroke-width: 5;
  fill: #EEE;
}

svg rect.hg {
  fill: black;
}

svg rect.bp {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

svg path {
  stroke: black;
  stroke-width: 2;
}